html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1400px;
}
.el-breadcrumb{
    margin-bottom: 20px;
}
.el-scrollbar__wrap {
    height: 300px !important;
  }
.el-input__inner{
    width: 250px !important;
}